# Logs
/logs
*.log

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
node_modules

# Compiled sanity studio
api/dist

.DS_Store

# Svelte site
site/build
site/.svelte-kit
site/package

# Environment Variables
.env
.env.*
!.env.example

